<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thuongtruong1009.twitter" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Twitter</name>
    <description>A Quasar Framework app</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="ios">
        <preference name="ScrollEnabled" value="true" />
    </platform>
    <allow-navigation href="about:*" />
</widget>
